@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.main {
    min-height: 40px;
    border-radius: 3px;
    letter-spacing: 1.05px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;

    .spinner {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.blue {
    background-color: var(--blue-6);
    color: var(--white);

    &:hover {
        outline: 1px solid var(--yellow-4);
        box-shadow: 0 0 3pt 2pt var(--yellow-4);
    }

    &:focus {
        outline: 1px solid var(--yellow-4);
        box-shadow: 0 0 3pt 2pt var(--yellow-4);
    }
}

.green {
    background-color: var(--green-4);
    color: var(--white);

    &:disabled {
        color: var(--gray-2disabled);
    }

    &:hover {
        outline: 1px solid var(--yellow-4);
        box-shadow: 0 0 3pt 2pt var(--yellow-4);
    }

    &:focus {
        outline: 1px solid var(--yellow-4);
        box-shadow: 0 0 3pt 2pt var(--yellow-4);
    }
}

.transparent {
    background-color: var(--white);
    color: var(--black-5);
    padding: 5px;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline-color: var(--black-5);
    }
}

.lightgreen {
    background-color: var(--green-2);
    color: var(--green-4);

    &:hover {
        outline: 1px solid var(--green-4);
        box-shadow: 0 0 3pt 2pt var(--green-4);
    }

    &:focus {
        outline: 1px solid var(--green-4);
        box-shadow: 0 0 3pt 2pt var(--green-4);
    }
}
