@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';

.burger {
  display: none;
}

@media (--media-sm) {
  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--green-2);
    border: 2px solid var(--green-4);
    border-radius: 5px;
    z-index: 3;
  }
  .burger:before,
  .burger:after {
    content: '';
    position: absolute;
    background-color: var(--green-4);
    width: 24px;
    height: 2px;
    left: 6px;
    transition: all 0.2s ease 0s;
  }
  .burger:before {
    top: 9px;
  }
  .burger:after {
    bottom: 9px;
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 17px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 17px;
  }

  .burger span {
    content: '';
    position: absolute;
    background-color: var(--green-4);
    width: 24px;
    height: 2px;
    left: 6px;
    top: 17px;
    transition: all 0.2s ease 0s;
  }

  .burger.active span {
    transform: scale(0);
  }
}
