@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
  background: var(--green-2);
  border: 3px solid var(--red-5);
  border-radius: var(--offset-xs);
  padding: var(--offset-xs) var(--offset-md);
  margin: var(--offset-sm) var(--offset-xs);

  .title {
    color: var(--red-5);
  }

  .error-text {
    color: var(--red-5);
  }
}
