@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';

.label {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.text {
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid var(--black);
        border-radius: 50%;
    }
}

.label .input:checked + .text::before {
    background-color: var(--green-4);
}
.text:hover::before {
    border: 2px solid var(--yellow-6);
}
