@import '../../__data__/style/colors.css';

.logo-link:focus {
  outline-color: var(--yellow-4);
  outline-offset: 2px;
}

.logo {
  width: 151px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
