@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.main {
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        outline-color: var(--green-4);
    }

    &:active {
        transform: translateY(2px);
    }
}

.basket-products-minus {
    height: 40px;
    width: 40px;
    background-image: url('../../assets/icons/minus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 2px 2px var(--black-5));
}

.basket-products-plus {
    height: 40px;
    width: 40px;
    background-image: url('../../assets/icons/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 2px 2px var(--black-5));
}

.basket-products-close {
    height: 40px;
    width: 40px;
    background-image: url('../../assets/icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 2px 2px var(--black-5));
}
