@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.basket-products {
    &-card {
        display: flex;
        justify-content: space-between;
        padding: var(--offset-md) 0;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid var(--black);

        @media (--media-sm) {
            flex-direction: column;
        }
    }

    &-view {
        display: flex;
        justify-content: space-between;
        flex: 0 0 416px;
        align-items: center;
        cursor: pointer;
        color: var(--black);

        @media (--media-md) {
            flex: 0 0 376px;
        }

        @media (--media-sm) {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    &-img {
        flex: 0 0 100px;
        height: 100px;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }

    &-description {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0px;
        flex: 0 0 300px;
        margin-left: var(--offset-sm);

        @media (--media-md) {
            flex: 0 0 250px;
            font-size: 18px;
            line-height: 22px;
        }
        @media (--media-sm) {
            flex: 1 1 auto;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &-counting {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: var(--offset-md);

        @media (--media-md) {
            margin-left: var(--offset-sm);
        }

        @media (--media-sm) {
            margin-top: var(--offset-sm);
            width: 100%;
            margin-left: 0;
        }
    }

    &-count {
        max-width: 140px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (--media-sm) {
            max-width: 130px;
        }

        strong {
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0px;
            font-weight: bold;
            padding: 0 var(--offset-xs);

            @media (--media-md) {
                font-size: 20px;
                line-height: 24px;
            }

            @media (--media-sm) {
                font-size: 18px;
                line-height: 22px;
                padding: 0;
            }
        }
    }

    &-price {
        letter-spacing: 0px;

        strong {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;

            @media (--media-md) {
                font-size: 20px;
                line-height: 24px;
            }

            @media (--media-sm) {
                font-size: 18px;
                line-height: 22px;
            }
        }

        small {
            margin-left: var(--offset-xs);
            font-size: 18px;
        }
    }
}
