@import '../../__data__/style/colors.css';

.icon {
    max-width: 85px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: var(--black);

    span {
        min-width: 43px;
    }
}

.icon:hover,
.icon.active {
    color: var(--green-4);
}
