@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.nav {
  width: 260px;
}

@media (--media-md) {
  .nav {
    width: 220px;
  }
}

@media (--media-sm) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--green-2);
    width: 100%;
    height: 100%;
    transition: all 0.2s ease 0s;
    padding: var(--offset-xs) var(--offset-sm);
  }
  .nav.active {
    top: 100%;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
