@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.modal {
    width: 100%;
    max-width: 288px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    text-align: center;
    padding: var(--offset-sm);
    border-radius: 5px;
    color: var(--black);
    font-size: 16px;
    background-color: #fff;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
}

.button-offset {
    margin-top: var(--offset-md);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-5);
    z-index: 60;
    transition: 0.3s all;
}
