@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.product-container {
    flex: 0 1 33.333%;
    padding: 0 var(--offset-sm);
    margin-bottom: var(--offset-md2);
    display: flex;

    @media (--media-md) {
        flex: 0 1 50%;
        margin-bottom: var(--offset-sm);
    }

    @media (--media-sm) {
        margin-bottom: var(--offset-sm);
        flex: 0 1 100%;
    }

    .product-img {
        width: 100%;
        height: 400px;
        position: relative;
        align-self: center;
        margin-bottom: var(--offset-sm);

        @media (--media-md) {
            height: 320px;
        }

        @media (--media-sm) {
            margin-bottom: var(--offset-xs);
            height: 280px;
        }
    }

    .product-img > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    .button-offset {
        padding: 0 var(--offset-sm);
    }

    .product-like {
        align-self: flex-end;

        .like-button {
            outline-color: var(--green-4);
        }
    }
    .product-active .like-button {
        color: var(--red-4);
    }

    .like-button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .product-like:hover .like-button {
        color: var(--green-4);
    }
}

.like-container {
    flex: 0 1 25%;
    padding: 0 var(--offset-sm);
    margin-bottom: var(--offset-md2);
    display: flex;

    @media (--media-md) {
        flex: 0 1 33.333%;
        margin-bottom: var(--offset-sm);
    }

    @media (--media-sm) {
        flex: 0 1 100%;
        margin-bottom: var(--offset-sm);
    }

    .product-img {
        width: 100%;
        height: 300px;
        position: relative;
        align-self: center;
        margin-bottom: var(--offset-sm);

        @media (--media-md) {
            height: 250px;
        }

        @media (--media-sm) {
            margin-bottom: var(--offset-xs);
            height: 200px;
        }
    }

    .product-img > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    .button-offset {
        padding: 0 var(--offset-xs);
    }

    .product-like {
        align-self: flex-end;

        .like-button {
            outline-color: var(--green-4);
        }
    }

    .product-active .like-button {
        color: var(--red-4);
    }

    .like-button {
        border: none;
        background: transparent;
        cursor: pointer;
        color: var(--green-4);
    }

    .product-like:hover .like-button {
        color: var(--black);
    }
}

@media (--media-md) {
    .product-container:nth-child(odd) {
        padding: 0;
        padding-left: var(--offset-sm);
    }
}

@media (--media-md) {
    .like-container:nth-child(3n + 1) {
        padding-left: var(--offset-sm);
        padding-right: 0;
    }

    .like-container:nth-child(3n) {
        padding-left: 0;
        padding-right: var(--offset-sm);
    }
}

.product {
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--offset-sm);
    cursor: pointer;
    border: 1px solid var(--black);
    width: 100%;
}

.product:hover {
    border: 1px solid var(--green-4);
}

.product-price {
    letter-spacing: 0px;
}

.product-price > strong {
    font-weight: 600;
    font-size: 24px;
}

.product-price > small {
    margin-left: var(--offset-xs);
    font-size: 18px;
}

.product-text {
    margin: 0;
    flex: 1 1 auto;
    letter-spacing: 0px;
    margin-top: var(--offset-sm);

    @media (--media-sm) {
        margin-top: var(--offset-xs);
    }
}

.product-rating {
    display: flex;
    margin-top: var(--offset-sm);
    margin-bottom: var(--offset-sm);
    color: var(--yellow-6);

    @media (--media-sm) {
        margin-top: var(--offset-xs);
        margin-bottom: var(--offset-xs);
    }
}
