@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
    margin-top: var(--offset-md);
    display: flex;
    flex-direction: column;
    position: relative;

    .label {
        font-weight: bold;
        font-size: 18px;
        color: var(--green-4);
        margin-bottom: var(--offset-xs);
        z-index: 1;
    }

    .error {
        position: absolute;
        font-weight: 300;
        font-size: 18px;
        color: var(--red-5);
        border: 1px solid var(--red-5);
        border-radius: 3px;
        background: var(--yellow-4);
        padding: 0 var(--offset-xs);
        z-index: 2;
    }

    .input {
        min-height: 40px;
        background-color: var(--white);
        border: 2px solid var(--gray-2);
        border-radius: 3px;
        padding-left: var(--offset-sm);
        padding-right: var(--offset-sm);
        color: var(--green-4);

        &.danger {
            border: 2px solid var(--red-5);
        }

        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            color: var(--gray-2);
        }

        &:hover {
            border-color: var(--green-4);
            outline: 1px solid var(--green-3);
            box-shadow: 0 0 3pt 2pt var(--green-3);
        }

        &:focus {
            border-color: var(--green-4);
            outline: 1px solid var(--green-3);
            box-shadow: 0 0 3pt 2pt var(--green-3);
        }
    }

    .link {
        align-self: flex-end;
        font-size: 14px;
        color: var(--black);
        margin-top: var(--offset-xs);

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline-color: var(--green-4);
        }
    }
}
