@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 var(--offset-sm);
    padding-top: 132px;

    @media (--media-md) {
        padding-top: 104px;
    }

    @media (--media-sm) {
        padding-top: 76px;
    }
}

.like-page {
    background-color: var(--white);

    &-body {
        margin-top: var(--offset-md2);
        margin-bottom: var(--offset-md2);
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }
    &-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        color: var(--black);
        margin-bottom: var(--offset-md);

        @media (--media-md) {
            margin-bottom: var(--offset-sm);
        }

        @media (--media-sm) {
            margin-bottom: var(--offset-sm);
        }
    }
    &-text {
        font-size: 18px;
        line-height: 22px;
        color: var(--black);
        text-align: center;
    }
}
