@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.main {
    background-color: var(--white);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 var(--offset-sm);
    padding-top: 132px;

    @media (--media-md) {
        padding-top: 104px;
    }

    @media (--media-sm) {
        padding-top: 76px;
    }
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.banner {
    align-items: center;
    min-width: 0;
}

.products {
    margin: 0 auto;
    margin-top: var(--offset-md2);

    @media (--media-md) {
        margin-top: var(--offset-md);
    }

    @media (--media-sm) {
        margin-top: var(--offset-sm);
    }
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
