@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';

.header {
    position: fixed;
    background-color: var(--white);
    filter: drop-shadow(5px 5px 5px var(--white-2));
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 var(--offset-sm);
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

@media (--media-md) {
    .header-body {
        height: 80px;
    }
}

@media (--media-sm) {
    .header {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    .header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        z-index: 2;
    }
    .header-body {
        height: 60px;
    }
}
