@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.carousel {
  height: 300px;
  text-align: center;
}

.loading {
  text-align: center;
}

.item {
  min-height: 300px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

:global(.slick-slider .slick-arrow) {
  position: absolute;
  top: 50%;
  z-index: 10;
}

:global(.slick-slider .slick-arrow.slick-prev) {
  left: var(--offset-sm);
}

:global(.slick-slider .slick-arrow.slick-next) {
  right: var(--offset-sm);
}

:global(.slick-slider .slick-dots) {
  position: absolute;
  bottom: var(--offset-sm);
}

@media (--media-md) {
  .carousel {
    height: 200px;
  }
  .item {
    min-height: 200px;
  }
}

@media (--media-sm) {
  .carousel {
    height: 160px;
  }
  .item {
    min-height: 160px;
  }
}
