@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';

.i18ncontainer {
    flex: 1 1 auto;
    text-align: left;
    margin-left: var(--offset-md);
    height: 40px;
    z-index: 3;

    button {
        cursor: pointer;
        background: none;
        border: none;
        color: var(--black);
        font-size: 16px;
    }
    button:first-child {
        margin-right: var(--offset-sm);
    }
    button.active {
        color: var(--green-4);
    }
}
