@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';

.form {
    max-width: 350px;
    padding: var(--offset-md);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 132px;

    @media (--media-md) {
        padding-top: 104px;
    }

    @media (--media-sm) {
        padding: var(--offset-md) var(--offset-sm);
        padding-top: 84px;
    }

    > .form-title {
        color: var(--green-4);
        font-size: 24px;
        margin: 0 auto;
    }

    .button-offset {
        margin-top: var(--offset-md);
    }
    .or {
        display: flex;
        margin-top: var(--offset-md);
        align-items: center;

        &-line {
            display: inline-block;
            height: 1px;
            background-color: var(--black);
            flex: 1 1 auto;
        }

        &-text {
            display: inline-block;
            color: var(--black);
            margin: 0 var(--offset-md);
        }
    }

    .register {
        min-height: 40px;
        border-radius: 3px;
        letter-spacing: 1.05px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        background-color: var(--green-2);
        color: var(--green-4);
        margin-top: var(--offset-md);

        &:hover {
            outline: 1px solid var(--green-4);
            box-shadow: 0 0 3pt 2pt var(--green-4);
        }

        &:focus {
            outline: 1px solid var(--green-4);
            box-shadow: 0 0 3pt 2pt var(--green-4);
        }
    }
}
