@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 var(--offset-sm);
    padding-top: 132px;

    @media (--media-md) {
        padding-top: 104px;
    }

    @media (--media-sm) {
        padding-top: 76px;
    }
}

.product-page {
    background-color: var(--white);

    &-body {
        margin-top: var(--offset-md2);
        margin-bottom: var(--offset-md2);
        display: flex;
        justify-content: space-between;

        @media (--media-md) {
            margin-top: var(--offset-sm);
            margin-bottom: var(--offset-sm);
        }

        @media (--media-sm) {
            flex-direction: column;
            margin-top: 0;
            margin-bottom: var(--offset-md);
        }
    }

    &-img {
        flex: 0 0 500px;
        height: 500px;
        position: relative;
        margin-right: var(--offset-md2);

        @media (--media-md) {
            flex: 0 0 400px;
            height: 400px;
        }

        @media (--media-sm) {
            align-self: center;
            flex: auto;
            width: 280px;
            height: 280px;
            margin-right: 0;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }

    &-right {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (--media-sm) {
            margin-top: var(--offset-sm);
        }
    }

    &-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--black);
    }

    &-title {
        font-size: 24px;
        line-height: 30px;
    }

    &-line {
        width: 100%;
        height: 1px;
        background-color: var(--black);
        margin: var(--offset-md2) 0;

        @media (--media-sm) {
            margin: var(--offset-sm) 0;
        }
    }

    &-like-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        span {
            font-size: 18px;
            line-height: 20px;
        }

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            color: var(--black);
            outline-color: var(--green-4);

            &:hover {
                color: var(--green-4);
            }
        }

        button.active {
            border: none;
            background: transparent;
            cursor: pointer;
            color: var(--red-4);
            outline-color: var(--green-4);

            &:hover {
                color: var(--green-4);
            }
        }
    }

    &-price {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: var(--offset-md2);

        @media (--media-sm) {
            margin-top: var(--offset-sm);
        }

        span {
            font-size: 18px;
            line-height: 20px;
        }

        strong {
            font-weight: 600;
            font-size: 24px;
        }

        small {
            margin-left: var(--offset-xs);
            font-size: 18px;
        }
    }

    &-rating {
        align-self: flex-end;
        display: flex;
        color: var(--yellow-6);
        margin-top: var(--offset-md2);

        @media (--media-sm) {
            margin-top: var(--offset-sm);
        }
    }

    &-button {
        align-self: flex-end;
        min-width: 180px;
        margin-top: var(--offset-md2);

        @media (--media-sm) {
            margin-top: var(--offset-sm);
        }
    }
}
