@import '../../__data__/style/sizes.css';
@import '../../__data__/style/media.css';
@import '../../__data__/style/colors.css';

.basket {
    background-color: var(--white);
    color: var(--black);

    &-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        margin-left: var(--offset-xs);
        display: inline-block;
    }

    &-text {
        margin-top: var(--offset-lg);
        font-size: 18px;
        line-height: 22px;
    }

    &-link {
        margin-top: var(--offset-lg);
        font-size: 18px;
        line-height: 22px;
        color: var(--green-4);

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline-color: var(--green-4);
        }
    }

    &-to-main-link {
        margin-top: var(--offset-lg);
        max-width: 350px;
        width: 100%;
    }

    &-products {
        &-title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            align-items: center;
        }

        &-icon {
        }

        &-sum {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-top: var(--offset-md);

            @media (--media-sm) {
                flex-direction: column;
            }
        }

        &-quantity {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0px;
            span {
                font-weight: normal;
            }
            strong {
                margin-left: var(--offset-sm);
                font-weight: bold;

                @media (--media-sm) {
                    margin-left: var(--offset-xs);
                }
            }
        }

        &-total-price {
            @media (--media-sm) {
                margin-top: var(--offset-md);
            }

            span {
                font-size: 22px;
            }
            strong {
                font-weight: 600;
                font-size: 24px;
                margin-left: var(--offset-md);

                @media (--media-sm) {
                    font-size: 20px;
                    margin-left: var(--offset-xs);
                }
            }

            small {
                margin-left: var(--offset-xs);
                font-size: 18px;
            }
        }

        &-btns {
            margin-top: var(--offset-lg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media (--media-sm) {
                margin-top: var(--offset-md);
                flex-direction: column;
                max-width: 350px;
            }
        }

        &-to-main-link {
            min-width: 180px;
            min-height: 40px;
            border-radius: 3px;
            letter-spacing: 1.05px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0;
            background-color: var(--green-2);
            color: var(--green-4);

            @media (--media-sm) {
                order: 2;
                width: 100%;
                margin-top: var(--offset-md);
            }

            &:hover {
                outline: 1px solid var(--green-4);
                box-shadow: 0 0 3pt 2pt var(--green-4);
            }

            &:focus {
                outline: 1px solid var(--green-4);
                box-shadow: 0 0 3pt 2pt var(--green-4);
            }
        }

        &-pay {
            min-width: 180px;

            @media (--media-sm) {
                order: 1;
                width: 100%;
            }
        }
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: var(--offset-lg) var(--offset-sm);
    padding-top: 132px;

    @media (--media-md) {
        padding: var(--offset-md2) var(--offset-sm);
        padding-top: 104px;
    }

    @media (--media-sm) {
        padding-top: 84px;
    }
}

.button-offset {
    width: 100%;
}
