:root {
    --white: #fff;
    --white-2: #f1f2f3;
    --black: #153557;
    --black-5: rgba(21, 53, 87, 0.5);
    --green-2: #ebf9f8;
    --green-3: rgba(2, 176, 174, 0.08);
    --green-4: #43a7a6;
    --gray-2: #bdc7d8;
    --gray-2disabled: #008b8b;
    --yellow-4: #fac48f;
    --yellow-6: #f88a23;
    --blue-6: #32829d;
    --red-4: red;
    --red-5: #a84f5b;
}
